<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="custom:log:event:remote">
        <handler 
          type="SitecoreJohn.Eventing.Remote.LogEventHandler,SitecoreJohn" 
          method="HandleEvent">
          <database>master</database>
          <instance>LT-JW-GHP4CW1-sc141212</instance>
        </handler>
      </event>
    </events>
    <hooks>
      <hook 
        type="SitecoreJohn.Eventing.Remote.RegisterLogRemoteEvent,SitecoreJohn"/>
    </hooks>
  </sitecore>
</configuration>
