<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <shutdown>
        <processor patch:before="processor[position()=1]" type="Sitecore.Sharedsource.Pipelines.Shutdown.FinalizeIndexes,Sitecore.Sharedsource" />
      </shutdown>
    </pipelines>
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_web_index">
            <commitPolicy>
              <policy>
                <patch:attribute name="type">Sitecore.Sharedsource.ContentSearch.RulesBasedCommitPolicy,Sitecore.Sharedsource</patch:attribute>
              </policy>
            </commitPolicy>
            <commitPolicyExecutor>
              <policyExecutor>
                <patch:attribute name="type">Sitecore.Sharedsource.ContentSearch.CommitPolicyExecutor,Sitecore.Sharedsource</patch:attribute>
              </policyExecutor>
            </commitPolicyExecutor>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>