<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPresentationDataSources>
        <processor type="Sitecore.Sharedsource.Pipelines.GetPresentationDataSources.HandleEmptyDataSource,Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.GetPresentationDataSources.HandleStaticItems,Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.GetPresentationDataSources.HandleFastQuery,Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.GetPresentationDataSources.HandleSitecoreQuery,Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.GetPresentationDataSources.HandleSearch,Sitecore.Sharedsource" />
      </getPresentationDataSources>
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetXsltRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Sitecore.Sharedsource.Mvc.Pipelines.Response.GetRenderer.GetXsltRenderer,Sitecore.Sharedsource</patch:attribute>
        </processor>
      </mvc.getRenderer>
    </pipelines>
    <xslExtensions>
      <extension namespace="http://www.sitecore.net/sc">
        <patch:attribute name="type">Sitecore.Sharedsource.Xml.Xsl.XslHelper,Sitecore.Sharedsource</patch:attribute>
      </extension>
    </xslExtensions>
  </sitecore>
</configuration>