<configuration>
  <sitecore>
    <exampleSection>  
      <exampleType type="Sitecore.Sharedsource.Data.Example, assembly">
        <param hint="1">First Constructor Argument</param>
        <param hint="2">Second Constructor Argument</param> 
        <stringProperty>String Property value</stringProperty>
        <intProperty>101</intProperty>
        <publicList hint="list">
          <arbitrary hint="1">First entry in public list</arbitrary>
          <arbitrary hint="2">Second entry in public list</arbitrary>
        </publicList>
        <protectedList hint="list:AddToProtectedList">
          <arbitrary hint="1">First entry in protected list</arbitrary>
          <arbitrary hint="2">Second entry in protected list</arbitrary>
        </protectedList>
        <arbitraryMethod hint="raw:ArbitraryMethod">
          <arbitrary hint="1">
            <nested>First nested value in first container element</nested>
            <second>Second nested value in first container element</second>
          </arbitrary>
          <arbitrary hint="2">First nested value in second container element</arbitrary>
        </arbitraryMethod>
      </exampleType>
    </exampleSection>
  </sitecore>
</configuration>