<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent type="Sitecore.Tasks.UrlAgent">
        <patch:attribute name="name">URL Agent</patch:attribute>
      </agent>
      <agent type="Sitecore.Tasks.TaskDatabaseAgent">
        <patch:attribute name="name">Task Database Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CompactClientDataAgent">
        <patch:attribute name="name">Compact Client Data Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CleanupHistory">
        <patch:attribute name="name">Cleanup History Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CleanupPublishQueue, Sitecore.Kernel">
        <patch:attribute name="name">Cleanup Publishing Queue Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CleanupEventQueue, Sitecore.Kernel">
        <patch:attribute name="name">Cleanup Event Queue Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.HtmlCacheClearAgent">
        <patch:attribute name="name">HTML Cache Clearing Agent</patch:attribute>
      </agent>
      
      <agent type="Sitecore.Tasks.PublishAgent">
        <patch:attribute name="name">Publishing Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CleanupAgent">
        <patch:attribute name="name">Cleanup Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:attribute name="name">Counter Dump Agent</patch:attribute>
      </agent>

      <agent type="Sitecore.Tasks.CloneNotificationsCleanupAgent">
        <patch:attribute name="name">Clone Notifications Cleanup Agent</patch:attribute>
      </agent>
    </scheduling>
  </sitecore>
</configuration>

