<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publish>
        <processor patch:before="./processor[1]" type="Sitecore.Sharedsource.Publishing.Pipelines.Publish.InvokePublishingTargetCLT, assembly" />
      </publish>
    </pipelines>
  </sitecore>
</configuration>
