<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.ExpandLinks, Sitecore.Kernel']" type="Sitecore.Sharedsource.Pipelines.RenderField.SetImageTitles, assembly" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>