<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent
        name="Global Item Rules"
        type="Sitecore.Sharedsource.Tasks.RunRulesAgainstAllItems,assembly"
        method="Run"
        interval="00:00:00">
        <database>master</database>
        <query>/sitecore/content//*</query>
        <rules hint="list">
          <rule hint="45123994-A12E-4C5B-8108-3B68457D2E7C">{45123994-A12E-4C5B-8108-3B68457D2E7C}</rule>
        </rules>
        <allLanguages>true</allLanguages>
        <allVersions>true</allVersions>
      </agent>
    </scheduling>
  </sitecore>
</configuration>

