<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="sharedsource:system:compare" type="Sitecore.Sharedsource.Shell.Framework.commands.system.VisualCompare,assembly"/>
    </commands>
    <pipelines>
      <renderField>
        <processor type="Sitecore.Sharedsource.Pipelines.RenderField.VisualCompare, assembly" patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues']">
          <sourcedb>master</sourcedb>
          <targetdb>web</targetdb>
          <renderBeforeComparison>true</renderBeforeComparison>
          <renderTextualDifferences>true</renderTextualDifferences>
          <indicateUnchangedFields>false</indicateUnchangedFields>
          <excludeFieldTypes hint="list">
            <exclude hint="unique">lowercase</exclude>
          </excludeFieldTypes>
        </processor>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
      