<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderWord>
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.GetTitle, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ConvertToMarkup, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElements, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTreeCaller, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.WriteItem, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.SetNeverPublish, Sitecore.Sharedsource" />
      </renderWord>
      <processWordElement>
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.LowercaseClassNames, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.ImportImages, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.AddDocumentImageClass, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.MapKnownElementNames, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.ApplyTableHeaders, Sitecore.Sharedsource" />
<!--       <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.TrimText, Sitecore.Sharedsource" />-->
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordElement.ApplyHeaderStyles, Sitecore.Sharedsource" />
      </processWordElement>
      <processWordNodeTree>
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.MergeCodeSegments, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.MergeRedundantElements, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.ProcessLists, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.ProcessNotes, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.ExtractTokenTable, Sitecore.Sharedsource" />
        <processor type="Sitecore.Sharedsource.Pipelines.RenderWord.ProcessWordNodeTree.ExtractTitle, Sitecore.Sharedsource" />
      </processWordNodeTree>
    </pipelines>
  </sitecore>
</configuration>