<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="system:debug">
        <patch:attribute name="type">Sitecore.Sharedsource.Shell.Framework.Commands.System.Debug,Sitecore.Sharedsource</patch:attribute>
      </command>
    </commands>
  </sitecore>
</configuration>