<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--  <ErrorControl type="Sitecore.Web.UI.WebControls.StandardErrorControl, Sitecore.Kernel"/>-->
  <ErrorControl type="Sitecore.Sharedsource.Web.UI.WebControls.HiddenErrorControl, assembly"/>
  <ItemNavigator type="Sitecore.Nexus.Xml.NexusItemNavigator, Sitecore.Nexus"/>
</configuration>
  