<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <renderingControls>
      <control template="sublayout" type="Sitecore.Sharedsource.Web.UI.SublayoutRenderingType, assembly" propertyMap="Path=path" patch:instead="control[@template='sublayout']" />
      <control template="xsl rendering" type="Sitecore.Sharedsource.Web.UI.XslControlRenderingType, assembly" propertyMap="Path=path" patch:instead="control[@template='xsl rendering']" />
    </renderingControls>
  </sitecore>
</configuration>
      